    <div class="new_channel">
    <h3>Create a new channel</h3>
    <form method="post" action="/channels/new" class="conatiner row">
    Channel Name : <input type="text" name="new_channel" class="col-md-5 ml-2"><br>
    Status :<select name="status" id="" class="col-md-4">
        <option value="public">Public</option>
        <option value="private">Private</option>
    </select><br>
    <button type="submit"  class="col-md-2 btn btn-primary m-5" >Create Channel </button>
    </form>
    </div>
