*,::before,::after{
    box-sizing: border-box;
}
.container{
    display:flex;
    gap:2em;
}
body{
    font-family: 'Nunito';
}

h2{
    font-size: 1.5rem;
    padding: 0.3em 0.5em;
    color: #575ed8;
}

#slack-chat{
    width: 60vw;
    margin: 0.75em auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat_messages{
    height: 60vh;
    background: #f9f9f9;
}

#chat_messages p{
    display:inline-block;
    padding:2em;
}

input{
    padding: 0.3em 0.6em;
    background: #eee;
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    font-family: Nunito;
    font-size: 1.15rem;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 1.2rem;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
}
ul{
    list-style-type: none;
}
li{
    font-size:1.5rem;
    font-weight:900;
}