
*,::before,::after{
    box-sizing: border-box;
}
body{
font-family: 'Roboto', sans-serif;
}
aside{
    background-color: #575ed8;
    color:white;
    min-height:100vh;
    padding:2em;
}
#container{
    display:flex;
}

#slack-chat{
    width: 70vw;
    margin: 0.75em auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}
#slack-chat h1{
    padding:0.5em;
}
#slack-chat h3{
    font-size: 1.25rem;
    padding-left: 0.5em; 
    color: #575ed8;
}
#chat_messages{
    height: 60vh;
    padding:2em;
    width:inherit;
    overflow:auto;
    
}
#chat_messages div{
    background: #f9f9f9;
    margin:1em 0;
    padding:1em;

} 
#chat_messages .user{
    font-size: 15px;
	font-weight: bold;
	color: #575ed8;
	opacity: 0.7;
	margin-bottom: 7px;
}
#chat_messages .user span{
color: #777;
margin-left:2em;
}

/* #chat_messages p{
    display:inline-block;
    padding:2em;
} */
/* #chat_messages p:hover{

} */
#form{
    position:sticky;
    top:100vh;
}
input{
    padding: 0.3em 0.6em;
    background: #eee;
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #eee;
    font-family: Nunito;
    font-size: 1.15rem;
}

button{
    background: #575ed8;
    color: #fff;
    font-size: 1.2rem;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
}
ul{
    list-style-type: none;
}
li{
    font-size:1.1rem;
    font-weight:900;
    line-height: 1.5em;
}

.logout{
    color:white;
    text-decoration: none;
}
.profile{
    width:60vw;
    margin:0px auto;
    text-align: center;
}
.fa-user{
    font-size:7rem;
  
}

#profile_pic{
    
    width: 40px;
    height: 40px;
    object-fit: cover;

}